*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(201, 233, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    flex-direction: column;

}

h1 {
    background-color: #f2f48b;
    padding-left: 10px;
    padding-right: 10px;
    margin: 1rem
}

textarea {
    width: 300px;
    height: 100px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    display: block;
    margin: 0 auto;
    border: 1px solid slategray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #ffffff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}